!!!
%html
  %head
    %title GluttonbergTest
    = csrf_meta_tag
    = google_analytics
    = meta_keywords_tag
    = meta_description_tag
  %body
    - @pages = Gluttonberg::Page.find(:all , :conditions => { :home => true } )
    - slug = @locale ? @locale.slug : ""
    = navigation_tree(@pages, :id => "navigation" , :slug => slug   )
    = yield