- if @gallery_images.empty?
  %p.empty No Image
- else
  %table{:id => 'pages_table', :cellpadding => 0, :cellspacing => 0, :summary => "Gallery images" , :class => "#{drag_tree_table_class} gallery_images" , :rel => drag_tree_url }
    %thead
      %tr
        %th Image
        %th.controls Controls
    %tbody
      - @gallery_images.each do |gallery_item|
        %tr{:id => drag_tree_row_id(gallery_item), :class => drag_tree_row_class(gallery_item) + "#{cycle("even", "odd")}"}
          %td
            %span{:class => "#{drag_tree_drag_point_class} page" , :rel => drag_tree_row_id(gallery_item)}
            %img{:src => gallery_item.image.thumb_small_url ,  :class => "thumb"}
            %span.title
              = gallery_item.image.title
              
          %td.controls
            %ul
              %li
                = link_to "Edit image" ,  edit_admin_asset_path(gallery_item.image.id)  , :target => "_blank"
              %li
                = link_to "Delete", "javascript:;" , :class => "delete_gallery_item" , :rel => gallery_item.id , "data-url" => remove_image_admin_gallery_path(gallery_item.id) , :title => "Delete image from this photo gallery"
        = image_tag("/gluttonberg/images/spinner.gif" , :id => "progress_#{gallery_item.id}" , :style => "display:none")