%h1
  = t('forgot_password')

#complete_profile
  = form_for(Gluttonberg::Member.new, :url => member_password_resets_path) do |f|

    %fieldset.form_element
      = f.label :email
      = f.text_field :email, :class => "text_field"
    %fieldset.form_element
      = f.submit t("reset_my_password")