- if @assets.blank?
  %p.empty No assets
- else
%table{:id => 'assets_table', :cellpadding => 0, :cellspacing => 0, :rel => "" , :summary => "Assets" }
  %thead
    %tr
      %th Asset
      %th
      %th.author Author     
      %th.date Date
  %tbody


  - for asset in @assets
    %tr
      %td.thumbnail
        %img{:src => asset.thumb_small_url  }
      %td.asset_title
        = asset.name
        %span.controls
        %a{:href => admin_asset_url(asset), :class => "assetLink"}
          View
      %td.author
        David Walker
      %td.date
        = "Added #{asset.created_at}"


  - if @assets.total_pages > 1
    %ul#paginator
      %li#count= "Page #{@assets.current_page} of #{@assets.total_pages}"
      - if @assets.previous_page
        - url = ( type == "category" ?  admin_asset_category_url(:category => name_or_id , :page => @assets.previous_page ) : admin_asset_collection_url(:id => name_or_id , :page => @assets.previous_page )  ) 
        
        %li#previous= link_to("Previous", url )
      - else
        %li#previous.disabled= link_to("Previous")
        
      - if @assets.next_page
        - url = ( type == "category" ?  admin_asset_category_url(:category => name_or_id , :page => @assets.next_page ) : admin_asset_collection_url(:id => name_or_id , :page => @assets.next_page )  )
        %li#next= link_to("Next", url )  
      - else
        %li#next.disabled= link_to("Next")