- if @assets.blank?
  %p.empty No assets
- else
%table{:id => 'assets_table', :cellpadding => 0, :cellspacing => 0, :rel => "" , :summary => "Assets" }
  %thead
    %tr
      %th
      %th= sorter_link("Title",   "name",   sorter_url )
      %th.author Author
      %th.date= sorter_link("Date added",   "date-added",   sorter_url )
      %th.date= sorter_link("Date updated",   "date-updated",   sorter_url )
  %tbody


  - for asset in @assets
    %tr
      %td.thumbnail
        %img{:src => asset.thumb_small_url  }
      %td.asset_title
        = asset.name
        %span.controls
          %a{:href => admin_asset_url(asset), :class => "assetLink"}
            View
      %td.author
        David Walker
      %td.date
        = date_format(asset.created_at)
      %td.date
        = date_format(asset.updated_at)  

  = will_paginate(@assets)      
