%h1
  = @blog.name
  
#articles
  - @articles.each do |article|
    .article
      %h2
        = link_to article.title, blog_article_path(@blog.slug, article.slug)
        by
        = article.author.email
      %p
        = asset_tag(article.featured_image , :small_thumb)
        = article.excerpt.html_safe