= form_for( :collection , @collection , :url => url_opts ,  :html => { :method => method_name, :class => "nosubnav"} ) do |collection_form|
  = gb_error_messages_for(@collection)
  = block("Collection") do
    = collection_form.label :name
    = collection_form.text_field(:name)
  
  = form_controls(admin_assets_url)
