- @window_title = "Library"
- @page_title = "#{link_to "Asset Library", admin_library_path} > Collection: #{@collection.name}"
- @page_image = "/images/sidebar/icon_library.png"
= sub_nav do
  = nav_link("Delete", delete_admin_collection_url(@collection) )
  = nav_link("Edit", edit_admin_collection_url(@collection))
  = nav_link("Add asset", new_admin_asset_url )

.category-area
  = render  :partial => "/gluttonberg/admin/asset_library/shared/sorter",  :locals => { :url =>  admin_collection_url(@collection) }
.clear
.block
  .content    
    = render  :partial => "/gluttonberg/admin/asset_library/shared/asset_panels" , :locals => { :type => "collection" , :name_or_id =>  @collection.id }
.clear