#tabs
  %ul
    %li
      %a{ :href => "#tabs-browse"} Browse
    %li
      %a{ :href => "#tabs-collection"} Collections
    %li
      %a{ :href => "#tabs-upload"} Upload  
  .clear

#tabs-browse
  %ul.assetList
    - if @category_filter.blank? || @category_filter == "all"
      %li
        %a{:href => admin_asset_category_url(:category => 'all' , :page => 1), :class => "browseAll"}
          %h3 All
    - @categories.each do |category|
      %li
        - text = ( category.name == "uncategorised" ?  "Uncategorised" : category.name.pluralize.capitalize )
        %a{:href => admin_asset_category_url(:category => category.name , :page => 1) , :class => "browse#{text}"}
          %h3= text

#tabs-collection
  - unless @collections.empty?
    %ul.assetList
      - for collection in @collections
        %li
          %a{:href => admin_collection_url(collection), :class => "collection"}
            %h3= collection.name

#tabs-upload
  - @asset  = Gluttonberg::Asset.new
  = form_for( :asset , @asset , :url => { :action => :ajax_new } ,  :html => { :multipart=>true  , :method => "POST", :class => "nosubnav" , :id => "ajax_new_asset_form"} ) do |asset_form|
    = block("Asset") do
      = asset_form.label :file , "File to upload"
      = asset_form.file_field(:file)

      = asset_form.label :name , "Name"
      = asset_form.text_field(:name, :class => "large")

      %br        

    = render :partial => "collection_select_form" , :locals => {:asset_form => asset_form }

    .controls
      = asset_form.submit("Upload" , :id => "ajax_image_upload", :class => "button button_upload" )
      = image_tag("spinner.gif" , :id => "progress_ajax_upload" , :style => "display:none")

.clear              
         