= form_for( :asset , @asset , :url => url_opts ,  :html => { :multipart=>true  , :method => method_name, :class => "nosubnav validation"} ) do |asset_form|
  = gb_error_messages_for(@asset)

  %legend
    Add asset
  %fieldset
    = asset_form.label :file , "File to upload"
    = asset_form.file_field(:file , :class => "#{action_name == "new" ? 'required' : ''}")
    
  %fieldset
    - unless @asset.thumb_large_url.blank?  
      %div#preview        
        %img{:src => @asset.thumb_large_url}
  %fieldset
    = asset_form.label :name , "Name"
    = asset_form.text_field(:name, :class => "large required")
  %fieldset
    = asset_form.label :alt , "Alt"
    = asset_form.text_field(:alt, :class => "large")
  = render :partial => "collection_select_form" , :locals => {:asset_form => asset_form }
      

  .controls{:class => "#{ method_name == "put" ? '' : 'center-new' }"}
    = form_controls(admin_assets_url)
