- @window_title = "Asset Library"
- @page_title = "#{link_to "Asset Library", admin_library_path} > Add assets in bulk"
- @page_image = "/images/sidebar/icon_library.png"

= form_for( :asset , @asset , :url => { :action => :create_assets_in_bulk } ,  :html => { :multipart=>true  , :method => "post", :class => "nosubnav"} ) do |asset_form|
  = gb_error_messages_for(@asset)

  = render :partial => "collection_select_form" , :locals => {:asset_form => asset_form }

  = block("File") do
    = asset_form.label :file , "Please upload a zip folder. System will automatically give names to assets based on file names"
    = asset_form.file_field(:file)
    
    %br

  = form_controls(admin_assets_url)
