- @window_title = "Asset Library"
- @page_title = "Asset Library"
- @page_image = "/images/sidebar/icon_library.png"
= sub_nav do
  = nav_link("Collections", admin_collections_path )
  
%div#tabs
  %ul
    %li
      %a{ :href => "#tabs-browse"} Browse
    %li
      %a{ :href => "#tabs-collection"} Collections
    %li
      %a{ :href => "#tabs-recent"} Recent
  .clear
.clear
%div#tabs-browse
  %ul.assetList
    %li
      %a{:href => admin_asset_category_path(:category => 'all' , :page => 1 ), :class => "browseAll"}
        All
        
    - @categories.each do |category|
      %li
        - text = ( category.name == "uncategorised" ?  "Uncategorised" : category.name.pluralize.capitalize )
        %a{:href => admin_asset_category_path(:category => category.name , :page => 1), :class => "browse#{text}"}
          = text
    %li.clear
  .clear
%div#tabs-collection
  - unless @collections.empty?
    %ul.assetList
      - for collection in @collections
        %li
          %a{:href => admin_asset_collection_url(:id => collection , :page => 1), :class => "collection"}
            %h3= collection.name
    .clear
%div#tabs-recent
  - unless @assets.blank?
    %ul.assetList#assetPanels
      - for asset in @assets
        %li
          %a{:href => admin_asset_url(asset), :class => "assetLink"}
            %div
              %img{:src => asset.thumb_small_url}/
            %h2= asset.name
    .clear
            
.clear