- @page = @page_localization.page

- unless @page_localization.contents.blank?
  = version_listing(@page_localization.contents.first.versions , @version )
            
= form_for(@page_localization, :url => url) do  |f|
  
  = gb_error_messages_for(@page_localization)
  
  .left_column
    = block("Metadata") do
      = f.label :name
      = f.text_field(:name, :id => "page_title")    
      %br
      = f.label :navigation_label
      = f.text_field(:navigation_label)
      %br
      = f.label :slug
      = f.text_field(:slug, :id => 'page_slug')
  
    - if @page_localization.contents.length >= 1   
      = block("Content") do
        - for content in @page_localization.contents
          - unless @version.blank? || !content.versioned? 
            - content.revert_to(@version)         
          = content_editor(content)
          %br
    - else
      %p.no_content
        This page does not have any content area.
  
  .right_column 
    = f.fields_for :page , @page do |page_form|  
      = render :partial => "/gluttonberg/admin/content/pages/page_settings" , :locals => {:f => page_form}
      
  - if( Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1 ) || @page_localization.contents.length >= 1
    = form_controls(admin_page_path(params[:page_id]))