= javascript_include_tag 'slug_management' ,  :charset => "utf-8"

- @page = @page_localization.page

= version_listing(@page_localization.contents.first.versions , @version )

%div.pageBlock
  %h2 Localizations
  - unless @page.localizations.empty? || @page.localizations.length < 2  
    %table{:cellpadding => 0, :cellspacing => 0, :summary => "Available Localizations"}
      %thead
        %tr
          %th Locale
          %th Path
          %th.controls Controls
      %tbody
        - for localization in @page.localizations
          - pair = "#{localization.locale.slug}/#{localization.dialect.code}"
          %tr
            %td
              %strong= "#{localization.locale.name}/#{localization.dialect.name}"
              %span= "(#{pair})"
            %td= "#{pair}/#{localization.path}"
            %td.controls= link_to("Edit", edit_admin_page_page_localization_path( :page_id => @page.id, :id => localization.id))
            
= form_for(@page_localization, :url => url) do  |f|
  = gb_error_messages_for(@page_localization)
  = block("Localization") do
    = f.label :name
    = f.text_field(:name, :id => "page_title")    
    %br
    = f.label :navigation_label
    = f.text_field(:navigation_label )
    %br
    = f.label :slug
    = f.text_field(:slug, :id => 'page_slug')
    
  = block("Content") do
    - for content in @page_localization.contents
      - unless @version.blank? || !content.versioned? #|| content.class.name == "Gluttonberg::ImageContent"
        - content.revert_to(@version)         
      = content_editor(content)
      %br
  
  = form_controls(admin_page_path(params[:page_id]))