- @page = @page_localization.page

- unless @page_localization.contents.blank?
  = version_listing(@page_localization.contents.first.versions , @version )
            
= form_for(@page_localization, :url => url) do  |f|
  
  = gb_error_messages_for(@page_localization)
  = block("Localization") do
    = f.label :name
    = f.text_field(:name, :id => "page_title")    
    %br
    = f.label :navigation_label
    = f.text_field(:navigation_label)
    %br
    = f.label :slug
    = f.text_field(:slug, :id => 'page_slug')
    
  = block("Content") do
    - for content in @page_localization.contents
      - unless @version.blank? || !content.versioned? 
        - content.revert_to(@version)         
      = content_editor(content)
      %br
  
  = form_controls(admin_page_path(params[:page_id]))