- @window_title = "Content"


- select_page_title = @page.name.blank? ? "Edit Content" : "Edit Content > #{@page.name}"
- if(Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1)
  - select_page_title = "Edit #{@page_localization.locale.slug} Content"
- @page_title = "#{link_to "Content", admin_content_path} > #{link_to "Pages", admin_pages_path} > #{select_page_title}"
- @page_image = "/gluttonberg/images/sidebar/icon_content.png"

.ui-tabs-nav
  %ul
    - if Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1
      - for localization in @page.localizations
        - pair = "#{localization.locale.slug}"
        %li{:class => "#{ (@page_localization.locale.id ==  localization.locale.id ) ? 'ui-tabs-selected ui-state-active' : '' }"}
          %a{:href => edit_admin_page_page_localization_path( :page_id => @page.id, :id => localization.id) ,:id=>"edit_content_tab",:class=>"button"}
            = "Edit #{localization.locale.slug}" 
    - else
      %li.ui-tabs-selected.ui-state-active
        %a{:href => "javascript:;",:id=>"edit_content_tab",:class=>"button"}
          Edit Content
    %li
      %a{:href => edit_admin_page_path(@page)  ,:id=>"settings_tab",:class=>"button"}
        Settings

#edit_content_tab_section.ui-tabs-panel.ui-widget-content.ui-corner-bottom
  = render :partial => "form" , :locals => { :url => admin_page_page_localization_path( :page_id => params[:page_id], :id => @page_localization) } 
  
#settings_tab_section.ui-tabs-panel.ui-widget-content.ui-corner-bottom
  