%h1
  Welcome, #{current_member.first_name}
  
#sub_nav.manual
  %ul
    %li.current#view_ideasNav
      %a{:href=>"/member/profile"}
        Your Details
    
#complete_profile
  = form_for @member, :url => member_profile_path, :method => :put ,  :html => {:multipart => true, :id => "register_form"} do |f|
    - if @member.errors.any?
      #error
        %ul
          - @member.errors.full_messages.each do |msg|
            %li
              = msg
    = f.hidden_field(:return_url, :value => "/member/profile")
    
    .form_element
      = f.label :email
      = f.text_field :email
    
    .form_element
      = f.label :password
      = f.password_field :password
    
    .form_element
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    
    .form_element
      = f.label "Profile Image"
      = f.file_field :image , :class => ""
      
    .form_element
      = f.submit
      = image_tag("/gluttonberg/images/spinner.gif" , :id => "user_submit_progress" , :style => "display:none" )


#form_hidden_field
  


:javascript
  $(document).ready(function() {
    
    $("form#register_form").validate({
      rules: {
        "user[term_and_conditions]" : {
          required: true
        }
        
      },
      messages: {
        "user[first_name]": {
        required: "Enter your first name"
        },
        "user[email]": {
        required: "Enter your email address"
        },
        "user[password]": {
        required: "Enter a password"
        },
        "user[password_confirmation]": {
        required: "Enter the same password as above"
        },
        
        "user[term_and_conditions]" : {
          required: "Please accept our term and conditions"
        }  
        
      }  ,
          submitHandler: function(form) {
            
            $("#user_submit_progress").show();
           }
    });
    
    
    
  });
