- @window_title = "Settings"
- @page_title = "#{link_to "Settings", admin_settings_path} > Configuration"
- @page_image = "/images/sidebar/icon_settings.png"
= sub_nav do
  = nav_link('New', new_admin_generic_setting_path)
  
- if @settings.empty?
  %p.empty No settings
- else
  %table{:cellspacing => 0, :cellpadding => 0, :summary => "List of Settings"}
    %thead
      %tr
        %th Name
        %th Value
        %th.controls Controls
    %tbody
      - i = 1
      %tr{ :class => ""}
        %td Select Home Page
        %td
          = Gluttonberg::Page.home_page_name
        %td.controls
          %ul  
            %li= link_to('Edit', admin_page_edit_home_path(1))
      - for setting in @settings
        - i += 1
        %tr{ :class => "#{i % 2 == 0? "even" : ""}"}
          %td= setting.user_friendly_name
          %td= setting.value
          %td.controls
            %ul
              %li= link_to('Edit', edit_admin_generic_setting_path(setting))
              - if setting.delete_able
                %li= link_to 'Delete', delete_admin_generic_setting_path(setting)