- @window_title = "Content"
- @page_title = "#{link_to "Content", admin_content_path} > #{link_to("<%= plural_class_name %>", admin_<%= plural_name %>_path)} > Add New <%= class_name %>"
- @page_image = "/gluttonberg/javascripts/sidebar/icon_content.png"

= form_for(@<%= singular_name %>, :url => admin_<%= plural_name %>_path) do  |f|
  = gb_error_messages_for(@<%= singular_name %>)

  = block("General") do
    = render :partial => "form", :locals => {:f => f}
    
  = form_controls(admin_<%= plural_name %>_path)