- @window_title = "Content"
- @page_title = "#{link_to "Content", admin_content_path} > <%= plural_class_name %>"
- @page_image = "/gluttonberg/javascripts/sidebar/icon_content.png"
= sub_nav do
  = nav_link('New', new_admin_<%= singular_name %>_path)

- if @<%= plural_name %>.empty?
  %p.empty
    No <%= plural_class_name %>
- else
  %table{:cellpadding => 0, :cellspacing => 0}
    %thead
      %tr
        %th Name
        %th.controls Controls
    %tbody
      - @<%= plural_name %>.each do |<%= singular_name %>|
        %tr{ :class => "#{cycle("even", "odd")}"}
          %td= <%= singular_name %>.title_or_name?
          %td.controls
            %ul
              %li
                = link_to "Show", admin_<%= singular_name %>_path(<%= singular_name %>)
              %li
                = link_to "Edit", edit_admin_<%= singular_name %>_path(<%= singular_name %>)
              - if can? :destroy , <%= class_name %>
                %li
                  = link_to "Delete", delete_admin_<%= singular_name %>_path(<%= singular_name %>)