= sub_nav do
  = nav_link("New Group", new_admin_group_url )
  
- @window_title = "Membership"
- @page_title = "#{link_to "Membership", admin_membership_path} > Groups"
- @page_image = "/gluttonberg/images/sidebar/icon_library.png"
- if @groups.empty?
  %p.empty No groups available
- else
  %table{:id => 'pages_table', :class => (can?(:reorder , Gluttonberg::Page) ? "#{drag_tree_table_class} " : " " ), :cellpadding => 0, :cellspacing => 0, :rel => "" , :summary => "Groups" , :rel => drag_tree_url }
    %thead
      %tr
        %th Name
        %th Default
        %th.controls Controls
    %tbody
      - for group in @groups
        %tr{:id => drag_tree_row_id(group), :class => drag_tree_row_class(group) + "#{cycle("even", "odd")}"}
          %td
            %span{:class => "#{drag_tree_drag_point_class} page" , :rel => drag_tree_row_id(group)}
            = group.name
          %td= group.default == true ? "Yes" : ""  
          %td.controls
            %ul
              %li= link_to("Edit", edit_admin_group_url(group)  )
              %li= link_to("Delete", delete_admin_group_url(group) )

