- if assets.blank?
  - if @category_filter.blank? || @category_filter == "all"
    %p.empty 
      No assets
  - else
    %p.empty
      = "No #{@category_filter} assets"
  
- else
  %ul#assetPanels
    - for asset in @assets
      %li
        %a.assetLink{:href => "#{admin_asset_url(asset)}", :rel => "#{asset.category}"}>
          %h2= asset.name
          %p= "Added #{asset.created_at}"
          %div
            %img{:src => "#{asset.thumb_small_url}"}
            

  = asset_paginator(assets, name_or_id , type)
