
= admin_form(@locale, :url => url) do  |f|

  = gb_error_messages_for(@locale)
  = block("Locale") do
    = f.text_field(:name)
    = f.text_field(:slug)
    = f.select(:slug_type , options_for_select(Gluttonberg::Locale.all_slug_types , @locale.slug_type ) , :include_blank => "Select Locale Type" , :class => "required" )
    .field
      %label{:for => "gluttonberg_locale_default"} Default
      = f.check_box(:default, :boolean => true , :class => "checkbox")
      
      
  = form_controls(admin_locales_path)
