- @window_title = "Settings"
- @page_title = "#{link_to "Settings", admin_settings_path} > Locales"
- @page_image = "/gluttonberg/images/sidebar/icon_settings.png"
= sub_nav do
  = nav_link('New', new_admin_locale_path)
  
- if @locales.empty?
  %p.empty No locales
- else
  %table{:cellspacing => 0, :cellpadding => 0, :summary => "List of Locales"}
    %thead
      %tr
        %th Locale
        %th Slug
        %th Type
        %th.controls Controls
    %tbody
      - i = 0
      - for locale in @locales
        - i += 1
        %tr{ :class => "#{i % 2 == 0? "even" : ""}"}
          %td= locale.name
          %td= locale.slug
          %td= locale.slug_type.humanize
          %td.controls
            %ul
              %li= link_to('Edit', edit_admin_locale_path(locale))
              %li= link_to "Delete", delete_admin_locale_path(locale)
