- @page_title = "#{link_to "Content", admin_content_path} > #{link_to "Blogs", admin_blogs_path} >  #{link_to @blog.name, admin_blog_articles_path(@blog)} > Edit #{@article.title}"

- @page_image = "/images/sidebar/icon_content.png"
= render :partial => "form", :locals => {:url => admin_blog_article_path(@blog, @article)}