- @page_title = "Articles"
= sub_nav do
  = back_link("Blogs", admin_blogs_path)
  = nav_link('New', new_admin_blog_article_path)
    
- if @articles.empty?
  %p.empty No Articles
- else
  %table{:cellpadding => 0, :cellspacing => 0, :summary => "Articles"}
    %thead
      %tr
        %th
          Article
        %th 
          Author
        %th.controls
          Controls
    %tbody
      - @articles.each do |article|
        %tr
          %td{:style => "width:50%;"}
            = article.title
          %td{:style => "width:25%;"}
            = article.author.email
          %td.controls
            %ul
              %li
                = link_to "Comments", admin_blog_article_comments_path(@blog, article)
              %li
                = link_to "Edit", edit_admin_blog_article_path(@blog, article)
              %li
                = link_to "Delete", delete_admin_blog_article_path(@blog, article)