- id_of_text_area = "gluttonberg_page_localization[contents][#{content.association_name}][#{content.id}][text]"
= enable_tinymce_on_class(id_of_text_area)

%label= content.section_label
= text_area_tag(id_of_text_area , content.text, :class => "large tall #{id_of_text_area}")