= form_for(@user, :url => url) do  |f|
  = gb_error_messages_for(@user)

  = block("Details") do
    %div
      = f.label :first_name
      = f.text_field(:first_name, :class => "large")
    
    %div
      = f.label :last_name
      = f.text_field(:last_name, :class => "large")  

    %div
      = f.label :email , "E-mail"
      = f.text_field(:email, :class => "large")

    %div
      = f.label :image_id , "Image"
      = f.asset_browser( :image_id ,  opts = { :filter => "image"   } )  

    -if current_user.super_admin? && current_user.id != @user.id     
      %div
        = f.label :role            
        = f.select(:role , User.user_roles.collect{|u| [u.humanize , u] }  )

  = block("Password") do
    = f.label :password , "Password"
    = f.password_field(:password, :class => "medium", :label => "Password")
    %br
    = f.label :password_confirmation , "Confirm Password"
    = f.password_field(:password_confirmation, :class => "medium", :label => "Confirm Password")
    
    
  - if current_user.super_admin?
    = form_controls(admin_users_path)
  - else
    = form_controls(admin_settings_path)