- @window_title = "Settings"
- @page_title = "#{link_to "Settings", admin_settings_path} > Users"
- @page_image = "/images/sidebar/icon_settings.png"
= sub_nav do
  = back_link("Settings", admin_settings_path)
  - if current_user.super_admin?
    = nav_link("New", new_admin_user_path) 
  
- if @users.empty?
  %p.empty No Users
- else
  %table{:cellpadding => 0, :cellspacing => 0, :summary => "List of users"}
    %thead
      %tr
        %th Name
        - if current_user.super_admin?
          %th Type
        %th.controls Controls
    %tbody
      - i = 0
      - for user in @users
        - i += 1
        %tr{ :class => "#{i % 2 == 0? "even" : ""}"}
          %td= user.email
          - if current_user.super_admin?       
            %td= user.role.humanize
          %td.controls
            %ul
              %li= link_to("Edit", edit_admin_user_path(user))
              - if current_user.super_admin?     
                %li= link_to "Delete", delete_admin_user_path(user)
    
  = page_entries_info(@users).html_safe            