= form_for(@member_session, :url => member_login_path, :method => :post) do |f|
  - if @member_session.errors.any?
    #error
      %ul
        - @member_session.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset.form_element
    = f.label :email
    = f.text_field :email, :class => "text_field"

  %fieldset.form_element
    = f.label :password
    = f.password_field :password, :class => "text_field"

  %fieldset.form_element
    = f.submit "Login"

  %fieldset.form_element.indent
    = link_to "Forgot my password", :new_member_password_reset
  %fieldset.form_element.register_link.indent
    %a{:href=> new_member_path}
      Not registered yet? Click here to register.  