= sub_nav do
  = back_link("Settings", admin_settings_path)
  = back_link("Dialects", admin_dialects_path)

= form_for(@dialect, :url => url) do  |f|

  = gb_error_messages_for(@dialect)
  = block("Dialect") do
    = f.label :code
    = f.text_field(:code)
    %br
    = f.label :name
    = f.text_field(:name)
    %br
    = f.check_box(:default)
    %label{:for => "dialect_default", :class => "checkbox"} Make default
  
  = form_controls(admin_dialects_path)
