- @page_title = "#{link_to "Content", admin_content_path} > Stylesheets"
- @page_image = "/gluttonberg/images/sidebar/icon_content.png"
= sub_nav do
  - if can? :manage, Gluttonberg::Stylesheet
    = nav_link('New', new_admin_stylesheet_path)
    
- if @stylesheets.empty?
  %p.empty No Stylesheets
- else
  %table{:cellpadding => 0, :cellspacing => 0, :summary => "Stylesheets"}
    %thead
      %tr
        %th Blog
        %th 
          Version          
        %th.controls Controls
    %tbody
      - @stylesheets.each do |stylesheet|
        %tr
          %td
            = stylesheet.name
          %td
            = stylesheet.version  
          %td.controls
            - if can? :manage , Gluttonberg::Stylesheet  
              %ul
                %li
                  = link_to "Edit", edit_admin_stylesheet_path(stylesheet)
                  - if can? :destroy , Gluttonberg::Stylesheet  
                    %li
                      = link_to "Delete", delete_admin_stylesheet_path(stylesheet)
