= form_for(@page, :url => url , :html => {:class => "validation"}) do  |f|
  = gb_error_messages_for(@page)
  .left_column
    - if( action_name == "new"  || ( !@pages.blank?  || !(Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1) ) )
      - if( action_name == "new"  || !(Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1) )
        %fieldset
          = f.label :name
          = f.text_field(:name, :id => "page_title", :class=>"large required")
        %fieldset
          = f.label :navigation_label
          = f.text_field(:navigation_label, :class=>"large")
        %fieldset
          = f.label :slug
          = f.text_field(:slug, :id => 'page_slug', :class=>"large")
        
        - if Gluttonberg::Member.enable_members == true
          %fieldset
            = f.label :groups 
            = f.select("group_ids" ,  Gluttonberg::Group.order("position ASC").collect{|cc| [cc.name , cc.id] }   , { :include_blank => true  } , { :multiple => true , :class => "large" } )
        
  .right_column
    - unless @pages.empty?
      %fieldset
        = f.label :parent_id , "Parent page"
        = f.select(:parent_id, @pages.collect{|p| [p.name , p.id] }, :include_blank => true, :class=>"medium")
    %fieldset
      = f.label :hide_in_nav, "Hide in navigation"
      = f.check_box(:hide_in_nav, :class=>"medium")
    %legend
      Page Description
    - if( action_name == "new"  || ( !@pages.blank?  || !(Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1) ) )
      %fieldset
        Page descriptions are used to define how this page behaves. For example, all of it’s contents may be editable, or it may be generated dynamically.
    %fieldset
      - if( action_name == "new" )
        = f.select(:description_name, @descriptions , { :include_blank => true } , {:class => "required"} ) 
      - else
        = f.select(:description_name, @descriptions , { :include_blank => true } , {:disabled => "disabled"})  
    %legend
      Publish
    - if can? :publish , Gluttonberg::Page  
      %fieldset#publish_meta
        = f.publisable_dropdown
       
    %p
      = form_controls(admin_pages_path)
