- unless @pages.empty?
  %fieldset
    = f.label :parent_id , "Parent page"
    = f.select(:parent_id, @pages.collect{|p| [p.name , p.id] }, :include_blank => true, :class=>"medium")
%fieldset
  = f.label :hide_in_nav, "Hide in navigation"
  = f.check_box(:hide_in_nav, :class=>"medium")
%legend
  Page Description
- if( action_name == "new"  || ( !@pages.blank?  || !(Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1) ) )
  %fieldset
    Page descriptions are used to define how this page behaves. For example, all of it’s contents may be editable, or it may be generated dynamically.
%fieldset
  - if( action_name == "new" )
    = f.select(:description_name, @descriptions , { :include_blank => true } , {:class => "required"} ) 
  - else
    = f.select(:description_name, @descriptions , { :include_blank => true } , {:disabled => "disabled"})  
%legend
  Publish
- if can? :publish , Gluttonberg::Page  
  %fieldset#publish_meta
    = f.publisable_dropdown