%tr{:id => drag_tree_row_id(page), :class => drag_tree_row_class(page) + "#{row % 2 == 0? " even" : ""}"}
  %td
    %span{:class => "#{drag_tree_drag_point_class} #{page.home ? "home" : "page"}"}
      = page.home ? "#{page.name} (Home page)" : page.name
  %td.published= "Yes"
  %td.controls
    %ul
      - if Gluttonberg.localized?
        %li= link_to 'Details', admin_page_path(page) 
      - else        
        - default_localization = Gluttonberg::PageLocalization.first( :page_id => page.id , :dialect_id => Gluttonberg::Dialect.first_default.id , :locale_id => Gluttonberg::Locale.first_default.id)
        %li= link_to("Edit", edit_admin_page_page_localization_path( :page_id => page.id, :id => default_localization.id))
      
      %li= link_to 'Settings', edit_admin_page_path(page) 
      %li= link_to 'Destroy', admin_page_path(page),  :confirm => 'Are you sure?', :method => :delete    