= sub_nav do
  = back_link("Content", admin_content_path)
  = back_link("Blogs", admin_blogs_path)

- unless @blog.blank?
  = version_listing(@blog.versions , @version )

= form_for(@blog, :url => url) do  |f|
  = gb_error_messages_for(@blog)
  = f.hidden_field(:user_id, :value => current_user.id) if @blog.user_id.blank?
  
  = block("Blog") do
    = f.label :name
    = f.text_field(:name, :id => "page_title")
    %br
    = f.label :slug
    = f.text_field(:slug, :id => 'page_slug')
    %br
    = f.label :description
    = f.text_area(:description , :class => "jwysiwyg" )    
    
    = f.label :moderation_required , "Moderation required?"
    %br
    = f.check_box :moderation_required
    
    /%p
    /  = f.label :tag_list , "Tags"
    /  = f.text_field(:tag_list, :class => "tags" , :rel => tags_string("tag") )
    
  
  - if can? :publish , Gluttonberg::Blog  
    = f.publisable_dropdown
  = form_controls(admin_pages_path)


= enable_jwysiwyg_on_class("jwysiwyg")