
- unless @blog.blank?
  = version_listing(@blog.versions , @version )

= form_for(@blog, :url => url , :html => {:class => "validation"}) do  |f|
  = gb_error_messages_for(@blog)
  = f.hidden_field(:user_id, :value => current_user.id) if @blog.user_id.blank?
  
  = block("Blog") do
    = f.label :name
    = f.text_field(:name, :id => "page_title" , :class => "required")
    %br
    = f.label :slug
    = f.text_field(:slug, :id => 'page_slug')
    %br
    = f.label :description
    = f.text_area(:description , :class => "jwysiwyg" )    
    
    = f.label :moderation_required , "Moderation required?"
    %br
    = f.check_box :moderation_required
    
  
  - if can? :publish , Gluttonberg::Blog  
    %fieldset
      .fieldset#publish_meta
        = f.publisable_dropdown
  = form_controls(admin_blogs_path)


= enable_jwysiwyg_on_class("jwysiwyg")