- @page_title = "Blogs"
= sub_nav do
  = back_link("Content", admin_content_path)
  - if current_user.super_admin?
    = nav_link('New', new_admin_blog_path)
    
- if @blogs.empty?
  %p.empty No Blogs
- else
  %table{:cellpadding => 0, :cellspacing => 0, :summary => "Blogs"}
    %thead
      %tr
        %th Blog
        %th.controls Controls
    %tbody
      - @blogs.each do |blog|
        %tr
          %td
            = blog.name
          %td.controls
            %ul
              %li
                = link_to "Articles", admin_blog_articles_path(blog)
              - if current_user.super_admin?  
                %li
                  = link_to "Edit", edit_admin_blog_path(blog)
                %li
                  = link_to "Delete", delete_admin_blog_path(blog)