!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "- #{@page_title}" if @page_title
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }/

    = javascript_include_tag "/gluttonberg/javascripts/jquery-1.4.2.min.js" , "/gluttonberg/javascripts/gb_login.js"

    = stylesheet_link_tag "/gluttonberg/stylesheets/admin"
    
  %body{:id => "#{@page_id}"}
    
      
    = yield