!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{website_title} #{@window_title.blank? ? '' : ' : ' + @window_title}"  
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }/

    
    = stylesheet_link_tag "/gluttonberg/stylesheets/admin"
    
    = custom_stylesheet_link_tag
    
    = javascript_include_tag "/gluttonberg/javascripts/jquery-1.4.2.min.js" , "/gluttonberg/javascripts/jquery.dimensions.min.js" , "/gluttonberg/javascripts/jquery-ui-1.8.1.custom.min.js" , "/gluttonberg/javascripts/jquery.validate.js" , "/gluttonberg/javascripts/jquery.dragTree.js" , "/gluttonberg/javascripts/rails" , "/gluttonberg/javascripts/jquery.tagarea.js" , "/gluttonberg/javascripts/jeditable" , "/gluttonberg/javascripts/ajaxfileupload"
    
    = javascript_include_tag "/gluttonberg/javascripts/jcrop/js/jquery.Jcrop.min.js"
    = stylesheet_link_tag "/gluttonberg/javascripts/jcrop/css/jquery.Jcrop.css"
    
    = wysiwyg_js_css_link_tag
    
    = javascript_include_tag "/gluttonberg/javascripts/gb_application" ,  :charset => "utf-8"
    
    = csrf_meta_tag 
    
    /[if IE 6]
      = stylesheet_link_tag "/gluttonberg/stylesheets/admin-ie6"

    /[if IE 7]
      = stylesheet_link_tag "/gluttonberg/stylesheets/admin-ie7"
    
  %body{:id => params[:controller].match(%r{\w+$}), :class => params[:action]}
    %div#sidebar
      %h2#navTitle Navigation

      %ul#navigation
        %li
          = active_link_to("Dashboard", admin_root_path, :id => "dashboard_nav" , :title => "Dashboard", :active => {:when => :self_only})
        %li
          = active_link_to("Content", admin_content_path, :id => "content_nav" , :title => "Content")
          %a.nav_trigger{ :href => "javascript:;" }
          %ul.subnavigation
            %li
              = active_link_to("Pages", admin_pages_path, :title => "Pages")
            - if Gluttonberg::Blog.table_exists?  
              %li
                = active_link_to("Blogs", admin_blogs_path, :title => "Blogs")
            - for entry in Gluttonberg::Components.nav_entries
              -if entry[3].blank? || entry[3]==false || (entry[3]==true && session.user.is_super_admin)
                %li
                  = active_link_to(entry[0], url_for(entry[2]), :html_options => {:id => (entry[0].to_s.underscore).gsub(/\s/, '_') + "Nav" , :title => entry[0] } )    
            %li
              = active_link_to("Flagged Content", admin_flagged_contents_path, :id => "flaggedNav" , :title => "Flagged Content")
        %li
          = active_link_to("Library", admin_library_path, :id => "library_nav" , :title => "Library", :class => "page_item")
          %a.nav_trigger{ :href => "javascript:;" }
          %ul.subnavigation
            %li
              = active_link_to("Collections", admin_library_path+"?tab=collection", :title => "Collections")
            %li
              = active_link_to("Recent", admin_library_path+"?tab=recent", :title => "Recent")  
            %li  
              = active_link_to("Add collection", new_admin_collection_path, :title => "Add collection")
            %li
              = active_link_to("Add asset", new_admin_asset_path, :title => "Add asset")
            %li
              = active_link_to("Add assets in bulk", admin_add_assets_in_bulk_path, :title => "Add assets in bulk")
        - if Gluttonberg::Member.enable_members == true
          %li
            = active_link_to("Members", admin_membership_path, :id => "membership_nav" , :title => "Members")
            %a.nav_trigger{ :href => "javascript:;" }
            %ul.subnavigation
              %li
                = active_link_to("List", admin_members_path, :title => "Members")
              %li
                = active_link_to("Groups", admin_groups_path, :title => "Groups")
          
        %li
          = active_link_to("Settings", admin_settings_path, :id => "settings_nav" , :title => "Settings")
          %a.nav_trigger{ :href => "javascript:;" }
          %ul
            - if can? :manage, Gluttonberg::Locale   
              - if Gluttonberg.localized? 
                %li= active_link_to("Locales", admin_locales_path , :title => "Locales")

            - if can? :manage, Gluttonberg::Setting
              %li= active_link_to("Configuration", admin_generic_settings_path , :title => "Configurations")

            - if can? :create, User
              %li= active_link_to("Users", admin_users_path, :title => "Users")  
            - else
              %li= active_link_to("Edit Account", edit_admin_user_path(current_user.id) , :title => "Users")
              
    %div#wrapper
      %div#header
        = backend_logo("/gluttonberg/images/logo.png" , {:height => "46px"})
        %h1#sidebar_title
          = website_title
        %div#user
          Hello
          = link_to current_user.first_name, edit_admin_user_path(current_user.id), :class => "username"
          = link_to "Log Out", admin_logout_url, :class => "button"
      %div#subheader
        = image_tag(@page_image) unless @page_image.blank?
        %h2#pageTitle= @page_title.html_safe || "No title set"
        = contextual_help
      #content
        - unless flash.blank?
          #flash
            .container
              - flash.each do |name, msg|
                = content_tag :div, msg.html_safe, :id => "flash_#{name}"
        = yield
    %div{:style => "clear:both"}    